<footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptatum libero non fugiat pariatur eius, esse dolorem, aspernatur eos dolor nisi alias quod atque excepturi, in minus minima quasi quaerat?</p>
</footer>